div#root{overflow:hidden}
.container-fluid.container{width:100%!important;padding-right:15px!important;padding-left:15px!important;margin-right:auto!important;margin-left:auto!important;max-width:100%!important}
body{background:#fff!important}
.header-sticky{position:fixed;width:100%;z-index:9999;left:0;right:0;margin:0 auto}
.main-navbar .navbar,.navHeaderMenu{background:#6846c7!important;color:#fff!important}
.main-navbar .autoqba-logo{margin:0 auto;display:-ms-flexbox;display:flex;align-items:center;padding:0 1rem;flex:1;align-content:flex-start;position:relative}
.main-navbar .autoqba-logo:after{border-right:1px solid #fff;padding:0 15px 0 0;content:"";height:30px;display:inline-block;vertical-align:middle}
.main-navbar .autoqba-logo .logo{width:112px;height:40px;margin-top:.3rem}
.main-navbar .navbar .ant-menu{font-size:.875rem;display:flex;flex:9;align-items:center;font-weight:400}
.main-navbar .navbar,.main-sidebar .navbar-brand{height:3rem}
.wrapper-container{padding-top:3rem!important}
.leftlayout .wrapper-container{padding:0}
.main-navbar nav{padding:0}
.ant-menu-submenu-popup{z-index:1090}
.main-navbar .navbar .nav-left .ant-menu-submenu-horizontal{vertical-align:middle}
.main-navbar .navbar .nav-left ul li .ant-menu-submenu-title{padding:.79rem .55rem}
.container-fluid .ant-menu-submenu>.ant-menu{border-radius:0}
.main-navbar .navbar .nav-left .ant-menu-horizontal>.ant-menu-submenu:hover{color:#ffeb3b}
.navbar .nav-right{align-items:center;justify-content:flex-end;padding-right:2rem}
.navbar .nav-right ul.nav{padding:0 .5rem 0 1rem}
.navbar .nav-right ul.nav .dropdown-menu{top:108%;border-radius:0}
.navbar .nav-right .search-box{padding:0}
.navbar .nav-right .search-box input{padding:.3375rem .75rem}
.navbar .nav-right .search-box .input-group{min-width:7.5rem;margin-left:0!important}
.main-navbar nav ul{line-height:normal;border:none}
.main-navbar .navbar .nav-link{padding:0!important;margin:0 auto}
.main-navbar .navbar .nav-left .ant-menu-submenu-title .anticon{font-size:1.2rem;vertical-align:middle;margin-right:.64rem}
.ant-menu-submenu i.ant-menu-submenu-arrow{box-sizing:border-box;height:7px;width:7px;border-style:solid;border-color:#fff;border-width:0 1px 1px 0;transform:rotate(45deg);transition:border-width 150ms ease-in-out;vertical-align:middle;display:inline-block;margin-left:6px;position:relative;top:-2px;transition:all ease-in-out .3s}
.ant-menu-submenu-active i.ant-menu-submenu-arrow{top:2px;transform:rotate(225deg);transition:all ease-in-out .3s}
.cardheader{padding:1rem 0;margin:0 auto}
.cardheader .ant-card-body{padding:0!important}
.cardheader .ant-card-head{color:#fff;border-bottom:inherit;font-weight:700;margin:0 auto 1rem auto;padding:0 21px;min-height:inherit;background-color:#3f51b5;line-height:normal;height:auto;border-left:5px solid #03a9f4}
.cardheader .ant-card-head .ant-card-head-title{padding:.5rem 0}
table .ant-table-tbody tr td{padding:.4rem .5rem!important}
table .ant-table-thead tr th{padding:.3rem .2rem!important}
table .ant-table-tbody tr td span{font-weight:400!important;font-size:.85rem!important;text-transform:capitalize}
.ant-table-thead>tr:first-child>th:first-child,.ant-table-thead>tr:first-child>th:last-child{border-radius:0}
.ant-dropdown{z-index:1099}
.ant-form-item label{float:left}
.ant-form-item-required::after{display:inline-block!important;margin-right:4px!important;color:#f5222d!important;font-size:14px!important;font-family:SimSun,sans-serif!important;line-height:1!important;content:"*"!important}
.ant-form-item-required::before{content:""!important;margin-right:0!important}
.ant-form label{margin-bottom:0!important}
.ant-form-item{margin-bottom:1%!important}
.ant-table-thead>tr>th{color:#fff!important;background:#717de8!important}
.autoqba{color:#fff}
.container{padding-right:0!important;padding-left:0!important;margin-right:0!important;margin-left:0!important}
.ant-menu-item-active,.ant-menu-item:hover,.ant-menu-submenu-active,.ant-menu-submenu-title:hover,.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open{color:#fff!important}
.navbar-light .navbar-nav .nav-link,.navbar-light .navbar-nav .nav-link:hover{color:#fff!important}
.ant-menu-item-active,.ant-menu-item-group-list>li:hover,.ant-menu-item:active,.ant-menu-submenu-active,.ant-menu-submenu-open .ant-menu-submenu-title:hover,.ant-menu-submenu-title:active{background:#6846c7!important;color:#fff}
.ant-menu-submenu-open .ant-menu-submenu-title:hover,.ant-menu-vertical>.ant-menu-submenu>.ant-menu-submenu-title{margin:0 auto}
.ant-menu-item>a:hover{color:#fff!important;text-decoration:none!important}
.ant-menu-submenu-vertical>.ant-menu-submenu-title .ant-menu-submenu-arrow{width:7px!important}
.ant-menu-submenu-active i.ant-menu-submenu-arrow::after,.ant-menu-submenu-active i.ant-menu-submenu-arrow::before{background:0 0!important}
.ant-menu-submenu-vertical>.ant-menu-submenu-title .ant-menu-submenu-arrow{transform:rotate(5deg)}
.ant-menu-submenu-active .ant-menu-submenu-title .ant-menu-submenu-arrow{transform:rotate(315deg);top:40%}
@media only screen and (min-width:1470px){
.main-navbar .navbar .nav-left ul li .ant-menu-submenu-title{padding:.79rem 1rem}
}
.tabletd{text-decoration:underline!important;color:#0056b3!important;font-weight:600!important}
.Breadcrumb-top{background:#fff;padding:1rem 0}
.Breadcrumb-top .ant-btn{padding:0 5px 0 0}
.hrline{margin-top:2.2rem!important;border-bottom:1px solid #423e3e}
.antcardborder{border:none!important}
.margin-left{margin-left:10px!important}
.ant-menu-sub .ant-menu-item-group .ant-menu-item-group-title{display:none}
.ant-menu-vertical .ant-menu-item{margin-top:0;margin-bottom:0!important}
.ant-menu-submenu>.ant-menu{border-radius:0}
.ant-menu-item-group-list .ant-menu-item,.ant-menu-item-group-list .ant-menu-submenu-title{padding:0 20px 0 15px}
.ant-menu-item .anticon,.ant-menu-submenu-title .anticon{min-width:25px;margin-right:15px;font-size:22px;vertical-align:middle;position:relative;bottom:2px}
.ant-menu-vertical.ant-menu-sub .ant-menu-item,.ant-menu-vertical>.ant-menu-submenu>.ant-menu-submenu-title{border-bottom:1px solid #e8e8e8}