@import url(https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap);
body{margin:0;padding:0;font-family:Lato,sans-serif}
.container-fluid{padding:0!important}
a{text-decoration:none}
.auth-wrapper{position:relative;width:100%;height:100vh;display:flex;flex-direction:row;align-items:flex-start;justify-content:space-between;box-sizing:border-box}
.auth-wrapper input{line-height:50px}
.auth-wrapper .figures-wrapper{position:absolute;width:100vw;height:100%;top:0;overflow:hidden}
.auth-wrapper .figures-wrapper_login{right:0}
.auth-wrapper .figures-wrapper_auth{left:0}
.auth-wrapper .figures-wrapper-container{width:100%;height:100%;position:relative}
.container-flapper,.image-container,.page-retreat{max-width:36.25rem}
.container-flapper{width:100%}
.image-container{background-image:linear-gradient(253deg,#3f51b5 0,#673ab7 100%);width:100%;height:100%;position:absolute;top:0;z-index:20;overflow:hidden}
.image-container-login{right:0}
.image-container .container-wrapper{width:100%;height:100%;position:relative;box-sizing:border-box;overflow:hidden;display:flex;flex-direction:column;align-items:center;justify-content:center;background:0 0}
.image-container-title{max-width:100%;color:#fff;font-family:Lato,sans-serif;font-size:3rem;letter-spacing:0;line-height:48px;margin:0 0 32px;text-align:center;font-weight:700}
.image-container-title span{display:block}
.image-container-text{width:100%;max-width:350px;color:#fff;font-family:Lato,sans-serif;font-size:1.375rem;letter-spacing:0;line-height:36px;text-align:center;margin-bottom:32px}
.image-container-btn{height:54px;min-width:223px;border:none;border-radius:30px;color:#1a1e1d;font-family:Lato,sans-serif;font-size:.875rem;text-align:center;display:flex;align-items:center;justify-content:center;cursor:pointer;line-height:100%;box-shadow:0 12px 24px rgba(34,51,49,.13);background:#fff;width:40%}
.login-figure{position:absolute;background-color:rgba(255,255,255,.08);box-sizing:border-box}
.login-figure.first{width:70px;height:140px;top:25%;right:45%;transform:rotate(-65deg)}
.login-figure.second{width:250px;height:250px;border-radius:100%;top:13%;left:-4%}
.login-figure.third{width:0;height:0;border-top:95px solid transparent;border-bottom:78px solid transparent;border-left:180px solid rgba(255,255,255,.08);bottom:8%;left:11%;background-color:transparent;transform:rotate(-46deg)}
.login-figure.four{width:75px;height:150px;top:55%;left:-1%;transform:rotate(-75deg)}
.login-figure.five{width:250px;height:250px;bottom:17%;right:4%;border-radius:100%}
.login-figure.six{width:0;height:0;border-top:60px solid transparent;border-bottom:70px solid transparent;border-left:160px solid rgba(255,255,255,.08);top:9%;right:24%;background-color:transparent;transform:rotate(135deg)}
.login-figure.seven{width:140px;height:140px;bottom:4%;right:-2.1875rem;border-radius:100%}
.login-content{width:100%;height:100%;display:flex;flex-direction:column;align-items:center;justify-content:center;padding:0 8px}
.login-content-title{max-width:100%;color:#202121;font-family:Lato,sans-serif;font-size:3rem;letter-spacing:0;line-height:64px;margin:0 0 16px;text-align:center;font-weight:700}
.login-content-text{max-width:100%;color:#555a59;font-family:Lato,sans-serif;font-size:1.125rem;text-align:center;letter-spacing:0;margin-bottom:16px}
.login-form{width:100%;max-width:460px;display:flex;flex-direction:column;align-items:center;justify-content:flex-start;box-sizing:border-box;margin:0 auto}
.login-form.submited input.ng-invalid:focus{border:1px solid rgba(255,99,71,.4)}
.login-form.submited input.ng-valid:focus{border:1px solid rgba(59,180,151,.4)}
.login-form-title{color:#555a59;font-family:Lato,sans-serif;font-size:.6875rem;text-transform:uppercase;background-color:#fff;box-sizing:border-box;padding:0 8px}
.login-form-input .ant-input,.login-form-input{box-sizing:border-box!important;width:100%!important;height:48px!important;outline:0!important;border:none!important;font-family:Lato,sans-serif!important;font-size:.875rem!important;border-radius:20px!important;color:#88908e!important;padding:0!important;-webkit-transition:background .3s!important;transition:background .3s!important}
.ant-input-affix-wrapper .ant-input-prefix{display:none!important}
.login-form-input .ant-input{background:#eef5f3!important;outline:0!important;padding:0 25px!important}
.login-form-input .ant-input:focus{background:#fff!important;border:1px solid #e1eae7!important}
.login-forget-password{font-size:.875rem;display:block;padding-top:.5rem;color:#88908e;text-align:right;padding-right:.4rem}
.login-forget-password:hover{text-decoration:underline}
.login-form-btn{width:235px!important;height:54px!important;background-color:#6846c7!important;border-radius:30px!important;outline:0!important;border:none!important;cursor:pointer!important;align-items:center!important;justify-content:center;color:#fff!important;font-family:Lato,sans-serif;font-size:.875rem!important;line-height:16px!important;text-align:center!important;margin:27px 0!important;transition:.3s!important}
.page-logo{position:absolute;top:20px;left:20px;width:215px;height:75px;cursor:pointer;z-index:30;background-size:31px}
.page-logo-login,.page-logo_auth.login_toggle{background:url(images/AutoQBA-v4.png) center center no-repeat}
.auth-form-fieldset[disabled]{opacity:.5}
.auth-form-fieldset-input{border-radius:25px;width:auto;padding:0;margin:0;outline:0;border:none;-webkit-transition:border .2s;transition:border .2s;position:relative}
.auth-form-fieldset-input.with-margin{margin-bottom:20px}
.animate-text{position:relative;width:100%;height:240px;display:flex;flex-direction:column;align-items:center;justify-content:flex-end}
.container-text-wrapper{display:flex;flex-direction:column;align-items:center;justify-content:flex-end;position:absolute;width:100%;height:100%;top:0;left:0}
.content-wrapper{display:flex;flex-direction:column;align-items:center;justify-content:center}
.content-wrapper .ant-row{width:100%}
.hidden-element{display:none}
.auth-form-fieldset{width:100%;border:none;outline:0;padding:0}
.ant-alert-with-description .ant-alert-message{display:none!important}
.ant-alert-with-description.ant-alert-no-icon{padding:10px 5px 10px 10px!important;max-width:99%;margin:0 auto!important;margin-bottom:15px!important;border-radius:20px}
.ant-alert-error{background-color:#f44336!important;border-color:#f44336!important;color:#fff!important;opacity:.83}
.ant-alert-with-description .ant-alert-close-icon{top:7px!important;right:12px!important;font-size:10px!important}
.ant-alert-with-description .ant-alert-description{font-weight:400!important;font-size:.83rem!important}
.ant-alert-close-icon .anticon-close{color:#fff!important}
@media screen and (max-width:1700px){
.container-flapper,.image-container,.page-retreat{max-width:30rem}
}
@media screen and (max-width:1500px){
.container-flapper,.image-container,.page-retreat{max-width:26.875rem}
.login-content-title{font-size:3.25rem;line-height:58px}
}
@media screen and (max-width:1100px){
.container-flapper,.image-container{max-width:21.875rem}
.image-container{padding:0 8px}
.image-container-title{font-size:2.375rem}
.image-container-text{font-size:1.125rem;max-width:320px}
.login-figure.second{width:3.9375rem;height:3.9375rem}
.login-figure.third{border-top:48px solid transparent;border-bottom:39px solid transparent;border-left:90px solid rgba(255,255,255,.08)}
.login-figure.five{width:63px;height:63px;bottom:15%;right:25%}
.login-content-title{font-size:2.875rem;line-height:58px}
}
@media screen and (max-width:1050px){
.auth-form-fieldset-input{width:100%;max-width:460px}
}
@media screen and (max-width:900px){
.image-container-text{font-size:1.125rem;max-width:240px}
}
@media screen and (max-width:800px){
.container-flapper,.image-container,.page-retreat{max-width:17.1875rem}
}
@media screen and (max-height:700px){
.image-container-title{font-size:2.125rem;margin-bottom:16px}
.image-container-text{font-size:1.125rem;margin-bottom:24px}
.login-figure.third{border-top:48px solid transparent;border-bottom:39px solid transparent;border-left:90px solid rgba(255,255,255,.08)}
.login-figure.five{width:63px;height:63px;right:24%}
.login-content-title{font-size:2.625rem;line-height:52px;margin-bottom:8px}
.login-form-btn{margin:1rem 0}
}
@media screen and (max-width:640px){
.auth-wrapper{flex-direction:column;height:auto;display:block}
.container-flapper,.image-container,.page-retreat{max-width:100%}
.container-flapper{display:none}
.image-container{padding:64px 8px;height:auto;position:static}
.login-figure.first{display:none}
.login-figure.second.registration_second{top:23%}
.login-figure.five,.login-figure.third{display:none}
.login-figure.six{top:7%;right:0}
.login-figure.six.registration_six{top:23%;right:-10%}
.login-figure.seven{display:none}
.login-content{padding:128px 16px 64px}
.login-content-title{font-size:2.25rem;line-height:52px}
.container-text-wrapper{position:static}
.animate-text{height:auto}
}
@media only screen and (max-width:639px) and (min-width:320px){
.page-logo{left:0;right:0;margin:0 auto}
.login-content{padding:110px 0 30px;position:relative;z-index:999}
.login-content-title{font-size:1.5rem}
.ant-input,.login-form-input{height:40px!important}
.login-form-btn{height:40px}
.image-container-title{font-size:1.5rem}
.image-container-title br{display:none}
.image-container{padding:30px 0}
}